*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
}


.App-header {
  background-color: #6f888e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.outerbox{
  width: 30%;
  margin: 0 auto;
  text-align: center;
  padding: 42px 20px;
  background-color: rgb(239, 237, 237);
  border-radius: 10px;
  box-shadow: 2px 2px   10px rgb(59, 55, 55);
  
}

.imgbox{
  width: 160px;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50%;
  
}
.img{
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 6px solid rgb(163, 162, 162);

}
h2{
  color:rgb(253, 79, 5);
  font-weight: 500;
  font-family: system-ui;
}
.h2{
  color: black;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 30px;
}
p{
  color: rgb(72, 72, 72);
  font-weight: 500;
  font-size: 19.5px;
  line-height: 1.5;
  margin-bottom: 25px;

}
.iconbox{
  color:rgb(253, 79, 5) ;
  text-align: left;
}
span{
  margin-left: 22%;
  font-weight: 800;
  font-size: 19px;

}